

@{
    ViewData["Title"] = "编辑";
    Layout = "~/Views/Shared/_LayuiList.cshtml";
}


<style>
    .layui-form-item .layui-input-inline {
        width: initial;
    }
</style>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="form">
            <input type="hidden" value="" id="ID" name="ID" />
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <label class="layui-form-label">所属菜单</label>
                    <div class="layui-input-inline">
                        <select name="SupID" id="SupID">
                            <option value="0">一级菜单</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input name="Title" id="Title" placeholder="请输入菜单名称" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">链接</label>
                <div class="layui-input-block">
                    <input name="Url" id="Url" placeholder="请输入对应的链接" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <label class="layui-form-label">打开目标</label>
                    <div class="layui-input-inline">
                        <select name="Target" id="Target">
                            <option value="">当前窗口（默认）</option>
                            <option value="_blank">新窗口</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-inline">
                        <input name="Icon" id="Icon" placeholder="请输入菜单图标" class="layui-input" />
                    </div>
                </div>
                <div class="layui-input-inline">选择图标</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input name="Sort" id="Sort" placeholder="请输入排序号" class="layui-input" />
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">立即启用</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="State" lay-skin="switch" checked>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="sub"><i class="layui-icon layui-icon-ok"></i>  立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/http.request.js"></script>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer //弹层
            , form = layui.form;
        var $ = layui.$;


        //加载下拉框
        $.get(baseUrl + '/rbac/menu/query', function (res) {
            var data = res.data;
            var q = eval(data).filter(function (e) { return e.supID == '0'; })
            console.log(q);
            $.each(q, function (i, v) {
                $('#SupID').append(new Option(v.title, v.id));
            })
            //重新渲染select
            layui.form.render("select");
        })

        //返填数据
        var id = getQueryVariable("id");
        if (id.length > 0) {
            $.get(baseUrl + '/rbac/menu/' + id, function (res) {
                console.log(res);
                form.val("form", {
                    SupID: res.data.supID,
                    Url: res.data.url,
                    Target: res.data.target,
                    Icon: res.data.icon,
                    Sort: res.data.sort,
                    State: res.data.state
                });
            });
        }

        //提交数据
        form.on('submit(sub)', function (data) {
            post(baseUrl + '/rbac/menu/edit', data.field, postCallback);
            return false; //阻止表单跳转
        });

        //回调函数
        function postCallback(res) {
            layer.msg(res.msg);
            if (res.code == 0 || res.code == 200) {
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layui.treeTable.reload('tableID');//重载父页表格，参数为表格ID
                parent.layer.close(index);
            }
        }
    })
</script>
