
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom:5px;">
    房间号: <input type="text" id="txtRoomNo" value="8888" /> 
    <button id="btnJoin">加入房间</button> 
    <button id="btnLeave">离开房间</button>
</div>
<div style="margin-bottom:5px;">
    昵称: <input type="text" id="txtNickName" value="batman" />
</div>
<div style="height:300px;width:600px">
    <textarea style="height:100%;width:100%" id="msgList"></textarea>
    <div style="text-align: right">
        <input type="text" id="txtMsg" value="" />  <button id="btnSend">send</button>
    </div>
</div>

<script>
    //var server = "ws://localhost:56038";//若开启了https则这里是wss
    //var server = 'ws://localhost:5000'; //如果开启了https则这里是wss

    var server = 'ws://api.iot.lcvue.com';

    var WEB_SOCKET = new WebSocket(server + '/ws');

    WEB_SOCKET.onopen = function (evt) {
        console.log('Connection open ...');
        $('#msgList').val('websocket connection opened .');
    };

    WEB_SOCKET.onmessage = function (evt) {
        console.log('Received Message: ' + evt.data);
        if (evt.data) {
            var content = $('#msgList').val();
            content = evt.data + '\r\n' + content;

            $('#msgList').val(content);
        }
    };

    WEB_SOCKET.onclose = function (evt) {
        console.log('Connection closed.');
    };

    $('#btnJoin').on('click', function () {
        var roomNo = $('#txtRoomNo').val();
        var nick = $('#txtNickName').val();
        if (roomNo) {
            var msg = {
                action: 'join',
                msg: roomNo,
                nick: nick
            };
            WEB_SOCKET.send(JSON.stringify(msg));
        }
    });

    $('#btnSend').on('click', function () {
        var message = $('#txtMsg').val();
        var nick = $('#txtNickName').val();
        if (message) {
            WEB_SOCKET.send(JSON.stringify({
                action: 'send_to_room',
                msg: message,
                nick: nick
            }));
        }
    });

    $('#btnLeave').on('click', function () {
        var nick = $('#txtNickName').val();
        var msg = {
            action: 'leave',
            msg: '',
            nick: nick
        };
        WEB_SOCKET.send(JSON.stringify(msg));
    });
</script>

