
@{
    ViewData["Title"] = "SPU";
    Layout = "~/Views/Shared/_LayuiList.cshtml";
}

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a lay-href="">主页</a><span lay-separator="">/</span>
        <a><cite>零售电商</cite></a><span lay-separator="">/</span>
        <a><cite>SPU列表</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <div class="layui-row">

                <div class="layui-col-md3">
                    <h1>SPU列表</h1>
                </div>
                <div class="layui-col-md9" style="text-align:right;">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">查询条件</label>
                            <div class="layui-input-inline">
                                <input type="text" name="search" id="txtSearch" lay-verify="required|search" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width:unset;">
                                <button class="layui-btn layui-btn-warm" id="btnSearch" data-type="search"><i class="layui-icon layui-icon-search"></i> 查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table class="layui-hide" id="demo" lay-filter="test"></table>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container demoTable">
                    <button class="layui-btn layui-btn-sm layui-btn-normal " lay-event="add"><i class="layui-icon layui-icon-add-circle-fine"></i> 添加</button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delall" data-type="getCheckData"><i class="layui-icon layui-icon-delete"></i> 删除</button>
                </div>
            </script>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script src="~/js/http.request.js"></script>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        var layer = layui.layer //弹层
            , table = layui.table //表格
        var $ = layui.$;

        var tableIns = table.render({
            elem: '#demo'
            , height: 520
            , url: baseUrl + '/retail/spu/query' //数据接口地址
            , title: '数据表'
            , page: true //开启分页
            , toolbar: '#toolbarDemo' //开启工具栏，默认值为default
            //, totalRow: true //开启合计行
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'spuCode', title: 'SPU代码', width: 150 }          
                , { field: 'title', title: '标题'}
                , { field: 'brandName', title: '品牌', width: 80 }
                , { field: 'categoryName', title: '类型', width: 80 }
                , { field: 'sort', title: '排序', width: 80 }
                , { field: 'createDate', title: '创建日期', width: 180 }
                , { fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo' }
            ]]
            ,parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "data": res.data //解析数据列表
                }
            }
        });


        //监听头工具栏事件(添加及删除事件)
        table.on('toolbar(test)', function (obj) { //test对应table中的lay-filter属性
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':

                    layer.open({
                        type: 2,
                        closeBtn: 1,
                        title: "编辑",
                        area: ['750px', '450px'],
                        content: '/retailspu/edit',
                        //success: function (layero, index) {
                        //    var body = layer.getChildFrame('body', index);
                        //    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                        //    //console.log(body.html()) //得到iframe页的body内容
                        //    //console.log("cname:"+body.find('#cname').val());
                        //    //var p_o = iframeWin.getObj();
                        //    //console.log("p_o:"+p_o);
                        //    //layer.full(index);
                        //    console.log(body);
                        //}
                    });

                    break;
                case 'delall':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm('真的删除行么', function (index) {
                            //获取要删除行的id
                            var ids = [];
                            $.each(data, function (i, v) {
                                ids.push(v.id);
                            });
                            layer.msg('批量删除，可将这些id传到后台进行操作。id=' + ids.toString());
                        });
                    }
                    break;
            };
        });

        //监听行工具事件（编辑及删除事件）
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    layer.close(index);
                    //向服务端发送删除指令
                    layer.msg('删除,可将id传到后台进行操作。id=' + data.id);
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });

        $('#btnSearch').on('click', function () {
            var search = $('#txtSearch').val();

            tableIns.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    search: search
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
    });
</script>